@import '../../styles/styles';

header {
  height: $header-height;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-bg-header;
  box-shadow: 0 $border-width $border-width $color-header-shadow;
  z-index: 100;
}

#header_content {
  width: $site-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: end;
}

#search_block {
  display: flex;
  flex: 1 auto;
  max-width: $search-block;
  align-items: center;
}

search-bar {
  margin: 0 $p-100;
}
