@import '../../styles/styles';

header {
  height: $header-height;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-bg-header;
  box-shadow: 0 $border-width $border-width $color-header-shadow;
  z-index: 100;
  padding: 0 0.5rem;
}

#header_content {
  width: $site-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: end;
}

#search_block {
  display: flex;
  flex: 1 auto;
  max-width: $search-block;
  align-items: center;
}

search-bar {
  margin: 0 $p-100;
  display: none;
}

#loginButton {
  display: none;
}

#hamburgerBtn {
  display: block;
}

@media (min-width: 768px) {
  search-bar {
    display: block;
  }

  #loginButton {
    display: block;
  }

  #hamburgerBtn {
    display: none;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 0;
  }
}
