@import '../../styles/styles';

div {
  margin-bottom: $p-50;
}

.articleTitle {
  text-decoration: none;
  color: $color-text-basic-dark;
}

.articleTitle:hover {
  color: $color-primary-hover;
}

a {
  font-size: 0.7rem;
}

#tagsBlock {
  margin-bottom: $p-100;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  card-main div {
    margin-left: 2.5rem;
  }

  a {
    font-size: 1.5rem;
  }
}
