@import '../../styles/styles';

#main_body {
  height: 100vh;
  width: $site-width;
  margin: auto;
  display: flex;
  padding-top: $header-height;
  margin: 0 auto;
  display: grid;
  grid-template-columns: $grid-feed;
  gap: $grid-gap;
}

#buttons_title {
  display: flex;
  font-size: $text-big;
  margin-bottom: $p-50;
}

article-feed {
  margin-bottom: $p-100;
}

description-block p {
  font-weight: 100;
}

description-block h2 {
  margin-top: 0;
}

description-block a {
  text-decoration: none;
  color: $color-primary;
}

description-block a:hover {
  text-decoration: underline;
  color: $color-primary-hover;
}

.mt-1 {
  margin-top: $p-100;
}

.emptyArts {
  padding: $p-200 0;
}

.emptyArts h2 {
  text-align: center;
}
