html {
    font-family: sans-serif;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-bg-main);
    --color-text-basic-dark: black;
    --color-text-basic-light: white;
    --color-primary: #3b49df;
    --color-primary-hover: #2f3ab2;
    --color-primary-text: white;
    --color-transparent-hover: #3b49df1a;
    --color-transparent-text: #404040;
    --color-light: #d6d6d7;
    --color-light-hover: #bdbdbd;
    --color-border-input-field: #d4d4d4;
    --color-border-input-field-hover: #a4a4a4;
    --color-bg-header: white;
    --color-header-shadow: #0000001a;
    --color-bg-main: whitesmoke;
    --color-bg-card-primary: white;
    --color-bg-card-secondary: #fafafa;

    --card-secondary-border: #1717170d;

    --text-tiny: 12px;
    --text-small: 14px;
    --text-medium: 16px;
    --text-big: 18px;
    --text-weight-light: 100;

    --site-width: 1280px;
    --header-height: 56px
}
