@import '../src/styles/styles';

html {
  padding-top: 0!important;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0!important;
  box-sizing: border-box;
  background-color: $color-bg-main;
}

@media (min-width: 768px) {
  body {
    padding: 0.5rem!important;
  }
}
